:root {
  --bg: black;
  --bgalt: #040608;
  --color: #d0d0d0;
  --border: #d0d0d044;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Product Sans', sans-serif;
}

html,
body {
  background-color: var(--bg);
  color: var(--color);
  font-family: 'Product Sans', sans-serif;  
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 20px;
  background-color: var(--bgalt);
  color: var(--color);
}

main {
  padding: 20px;

}

input[type='text'] {
  margin: 0 20px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  color: var(--color);
  font-family: 'Product Sans', sans-serif;
  background-color: var(--bgalt);
}

button {
  padding: 10px 20px;
  border: 1px solid var(--border);
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  color: var(--color);
  font-family: 'Product Sans', sans-serif;
  background-color: var(--bgalt);
  cursor: pointer;

  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

section {  
  border-radius: 4px;
  margin: 20px 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

img {
  border-radius: 4px;
  margin-right: 20px;

  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 400px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg);
  color: var(--color);
  padding: 0 20px;

  flex-wrap: wrap;
}

.filter-title {
  padding-right: 20px;
  color: var(--border);
  user-select: none;
}

.filterName {
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  padding: 6px 16px;
  border-radius: 24px;
  border: 1px solid var(--border);
}

.selected {
  color: var(--bg);
  background-color: var(--color);
}

.filterName:hover {
  box-shadow: 0 0 12px 2px var(--border);
}

.error {
  color: red;
  padding-left: 4px;
  font-size: 0.7rem;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: var(--bgalt);
  color: var(--color);
}

a {
  color: #FD4D4D;
  color: gray;
  text-decoration: none;
}

@media (max-width: 840px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  img {
    margin: 0 0 20px;
  }
}
@import url('http://fonts.cdnfonts.com/css/product-sans');

svg {
	max-width: 2rem;
	border-radius: 3px;
	box-shadow: 2px 2px 5px #000;
	background: #000;
	fill: none;
	stroke: #333;
	stroke-linecap: round;
	stroke-width: 8%
}

use {
	stroke: #fff;
	animation: a 2s linear infinite
}

@keyframes a { to { stroke-dashoffset: 0px } }